
html {
  font-size: 20px; 
  font-family: 'Roboto', sans-serif; 
  background-color: #F5F5F5;
}

#id1 {
	  text-align: right;
	  font-size: 5px;
}

p,h1 {
  color: purple;
}

#apple-stock-chart .axis path,
#apple-stock-chart .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

#apple-stock-chart .x.axis path {
  display: none;
}

#apple-stock-chart .line {
  fill: none;
  stroke: purple;
  stroke-width: 1.5px;
}

#apple-stock-chart .overlay {
  fill: none;
  pointer-events: all;
}

#apple-stock-chart .focus circle {
  fill: none;
  stroke: steelblue;
}